.carousel-open:checked + .carousel-item {
  position: static !important;
  opacity: 100 !important;
}
.carousel-item {
  -webkit-transition: opacity 0.6s ease-out !important;
  transition: opacity 0.6s ease-out !important;
}
div.carousel-slideContent > * {
  height: 100%;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
  display: block !important ;
}
.carousel-indicators {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  bottom: -3rem !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
  z-index: 10 !important;
}
#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet,
#carousel-4:checked
  ~ .control-4
  ~ .carousel-indicators
  li:nth-child(4)
  .carousel-bullet {
  color: #5bc500 !important; /*Set to match the Tailwind colour you want the active one to be */
}
